<div class="container" class='form-group'>
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-6"><label>Name</label><input class='form-control' type="text" formControlName="name">
                <span *ngIf="!personalForm.get('name').valid && personalForm.get('name').dirty" style='color:red'>Enter
                    Name</span>
            </div>
            <div class="col-lg-6"><label>Email</label><input class='form-control' type="text" formControlName="email">
                <span *ngIf="!personalForm.get('email').valid && personalForm.get('email').dirty" style='color:red'>Enter a valid
                    Email</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label>Phone no</label><input type="text" formControlName="phno" class='form-control'>
                <span *ngIf="!pValid && personalForm.get('phno').dirty" style='color:red'>Enter a valid Phone number</span>
            </div>
            <div class="col-lg-6"><label>Country</label>
                <select formControlName="country" class='form-control'>
                    <option *ngFor="let opt of countryList" [value]="opt">
                        {{opt}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label>State</label>
                <select formControlName="state" class='form-control'>
                    <option *ngFor="let opt of stateList" [value]="opt">
                        {{opt}}
                    </option>
                </select>
            </div>
            <div class="col-lg-6"><label>City</label>
                <select formControlName="city" class='form-control'>
                    <option *ngFor="let opt of cityList" [value]="opt">
                        {{opt}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label>Password</label><input type="password" formControlName="pass"
                    class='form-control' [ngModel]='passModel'></div>
            <div class="col-lg-6"><label>Confirm Password</label><input type="password" formControlName="conPass"
                    class='form-control' [ngModel]='conPassModel'></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <span *ngIf="personalForm.get('conPass').dirty && personalForm.get('pass').dirty && !passValid" style='color:red'>Passwords do not Match</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label>Gender</label><br>Female <input type="radio" value="female" name="gender"
                    formControlName="gender"><br> Male <input type="radio" value="male" name="gender"
                    formControlName="gender"></div>
            <div class="col-lg-6"><label>Marital Status</label><br>Married <input type="radio" value="married"
                    name="marital" formControlName="marital"><br> Unmarried <input type="radio" value="unmarried"
                    name="marital" formControlName="marital"></div>
        </div>
        <div class='row'>
            <div class="col-lg-12"><button class='btn btn-primary' type="submit"
                    [disabled]="!personalForm.valid">Submit</button></div>
        </div>
    </form>
</div>
<br>